@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap"); /* font-family: 'Bellefair', serif; */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap"); /* font-family: 'Barlow Condensed', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap"); /* font-family: 'Barlow', sans-serif; */

.SHl {
  @apply text-SubLarge;
}

.SHs {
  @apply text-SubSmall;
}

.Hxl {
  @apply text-extraLarge;
}

.Hl {
  @apply text-large;
}

.Hm {
  @apply text-medium;
}

.Hs {
  @apply text-small;
}

.Hxs {
  @apply text-extraSmall  font-barlowCondensed tracking-[4px];
}

.Nav {
  @apply text-nav;
}

.Body {
  @apply text-body leading-[180%]  font-barlow;
}

.Hxl,
.Hl,
.Hm,
.Hs {
  @apply font-bellefair;
}

.Nav,
.SHs {
  @apply font-barlowCondensed tracking-[2px];
}

/* home page background media */
.Home-bg {
  background-image: url(./assets/img/Render-1.png);
}

@media (max-width: 768px) {
  .Home-bg {
    background-image: url("./assets/img/Render-1-mobile.png");
  }
}

@media (min-width: 768px) {
  .Home-bg {
    background-size: 100%;
  }
}

/* tablet media query */

@media (min-width: 768px) {
  .Hxl {
    @apply text-desktop-extraLarge;
  }

  .Hl {
    @apply text-tablet-large;
  }

  .Hm {
    @apply text-tablet-medium;
  }

  .Hs {
    @apply text-tablet-small;
  }

  .Hxs {
    @apply text-tablet-extraSmall;
  }

  .Body {
    @apply text-tablet-body;
  }
}

/* Desktop media query */

@media (min-width: 1440px) {
  .Hxl {
    @apply text-desktop-extraLarge;
  }

  .Hl {
    @apply text-desktop-large;
  }

  .Hm {
    @apply text-desktop-medium;
  }

  .Hs {
    @apply text-desktop-small;
  }

  .Hxs {
    @apply text-desktop-extraSmall;
  }
  .nav {
    @apply text-desktop-nav;
  }

  .Body {
    @apply text-desktop-body;
  }
}

/* hover effects */

.explore:hover {
  box-shadow: 0px 0px 5px 65px rgb(255 255 255 / 30%);
  -webkit-box-shadow: 0px 0px 5px 65px rgb(255 255 255 / 30%);
  -moz-box-shadow: 0px 0px 5px 65px rgb(255 255 255 / 30%);
}
